.main_container {
  padding: 60px;
  padding-bottom: 120px;
}
@media screen and (max-width: 1024px) {
  .main_container{
    padding: 20px;
    padding-bottom: 210px;
  }
}

@media screen and (max-width: 768px) {
  .main_container{
    padding-top: 80px;
    padding-inline: 10px;
  }
  
}