
.header {
  background: linear-gradient( to bottom, rgb(75, 108, 99), rgba(75, 108, 99, 0.5) );
  padding: 20px ;
}
.header_phone{
 text-decoration: none;
  color: #fff;
  transition: all 0.3s ease-in-out;

  background: linear-gradient(45deg, #2ecc71, #27ae60);
   color: transparent;
  -webkit-background-clip: text; 
  background-clip: text; 
}
.header_phone:hover{
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  color: #fff;
  margin-left: 2px;
  margin-top: 2px;
}

.header_top {
  display: flex;
  align-items: center;
  cursor: default;
  /* background-color: aqua; */
}
.header_top_text {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5rem;
  text-transform: uppercase;
  color: #fff;
  flex-wrap: wrap;
  cursor: default;
}

.header_title {
  font-weight: bold;
}
.header_top_text li {
  margin-right: 20px;
}
.header_logo {
  position: relative;
  width: 8rem;
  transition: all 0.4s ease-in-out;
}

.header_logo:hover {
  transform: scale(0.9) perspective(500px) rotateZ(-10deg);
  animation: pulse 2.5s infinite alternate;


}

@keyframes pulse {
  0% {
    opacity: 0.8; 
    left: 0px;   
  }
  20% {
    opacity: 1;
    left: -10px;
  }
  40% {
    opacity: 0.8;
    left: 0px;
  }
  60% {
    opacity: 1;
    left: -10px;
  }
  80% {
    opacity: 0.8;
    left: 0px;
  }
  100% {
    opacity: 1;
    left: 10px;
  }
}

.header_hr {
  display: none;
}
.header_logo_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
}
.header_bottom_logo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}
.header_nav_container {
  width: 150px;
 
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
}


.header_nav_container a {
  color: #fff;
  text-decoration: none;
}

.header_nav_container li {
  margin-right: 20px;
  line-height: 1.6;
  position: relative;
  cursor: pointer;
}

.header_nav_container li:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 0;
  /* background-color: #131d19; */
  background-color: #2ecc71;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.header_nav_container li:hover:before {
  visibility: visible;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .header{
    padding:  0.7rem;
  }
  .header_top_text {
    font-size: 0.8rem;
  }

  .header_title {
    font-size: 1.2rem;
  }

  .logo {
    width: 6rem;
  }
}

@media screen and (max-width: 768px) {
  .header_top_text {
    font-size: 0.7rem;
  }
  .header_hr {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #fff;
    border: none;
  }
  .header_bottom_logo {
    font-size: 1.2rem;
  }
  .header_nav_container ul {
    padding: 0;
    margin: 10px 190px 0 10px;
  }

  .header_logo_container {
    display: none;
  }
  .logo {
    width: 5rem;
  }
  .header_top {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
